<div class="sidebar">
  <div class="side-container">
    <div class="logo">
      <h3>LOGO</h3>
    </div>
    <ul class="side-menu">
      <li class="side-item">
        <a href="/home_app1/" class="side-link active"
          ><i class="fas fa-home me-2 home-icon"></i>Home</a
        >
      </li>
      <li class="side-item">
        <a href="/sale_app1/" class="side-link"
          ><i class="fas fa-cart-plus me-2 sale-icon"></i>Sales</a
        >
      </li>
      <li class="side-item">
        <a href="{% url 'order_url_name' %}" class="side-link"
          ><i class="fas fa-concierge-bell me-2 order-icon"></i>Order</a
        >
      </li>
    </ul>
  </div>
</div>
