<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>


    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <h5>{{ message }}</h5>
    {% endfor %}
    </ul>
{% endif %}
      <h1>Add Student</h1>
      <a href ={% url 'student-create'  %} class='btn btn-primary' >
        Add Student
     </a>
    <h1>Studint List</h1>
    <ul>
    {% for student in object_list %}
        <li>{{ student.name }}</li>
        <a href ={% url 'student-detail' student.id  %} class='btn btn-primary' >
           Student Details
        </a>
        <!-- <form method="post" acti>{% csrf_token %}
            <p>Are you sure you want to delete "{{ student.name }}"?</p>
            <input type="submit" value="delete">
        </form> -->
        <a href ={% url 'student-delete' student.id  %} class='btn btn-primary' >
            Student Delete
         </a>
    {% empty %}
        <li>No student yet.</li>
    {% endfor %}
    </ul>

    



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>